body{
    font-family: roboto, sans-serif;
    color: #212121;
    background-color: #FFFFFF;
}
.link {
    text-decoration: none;
}
.header {
    background-color: #FFFFFF;
    font-weight: 500;
}
.header-logo {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-color {
    color: #2196F3;
}
.list{
    list-style: none;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-link:hover{
    color: #2196F3
}
.header-link:focus {
    color: #2196F3
}
.header-link:active {
    color: #2196F3
}
.header-contacts:hover {
    color: #2196F3
}
.header-contacts:focus {
    color: #2196F3
}
.main-section-one {
    background-color: #2F303A;
}
.section-one-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-one-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}
.main-section-two,
.main-section-three
 {
    background-color: #E5E5E5;
}
.item-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.section-three-title {
    ont-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.main-section-team {
    background: #F5F4FA;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-item {
background-color: #FFFFFF;
}
.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.footer {
    background: #2F303A;
}
.footer-logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:#FFFFFF;
}
.footer-location {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.main-portfolio {
    background: #E5E5E5;
}
.portfolio-btn {
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    cursor: pointer;
}
.portfolio-btn:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}
.projects-item {
    background: #FFFFFF;
}
.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: #212121;
}
.projects-division {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}